<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="myjava.web.mybatis"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--Database Connection Information-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///db1"/>
                <property name="username" value="root"/>
                <property name="password" value="root@1234"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--load Mapper files-->
        <!--<mapper resource="myjava/practices/mybatis/mapper/brandMapper.xml"/>-->
        
        <!--Since we put all mapper files into mapper package, we can use package-scanner-->
        <package name="myjava.web.mybatis.mapper"/>
    </mappers>
</configuration>